!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'zodiac', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'zodiac', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    :javascript
      console.log("Preload background image")
      //preload background image
      $(["#{image_url('zodiac/zodiac-700.jpg')}"]).preload();

      //preload zodiac symbols
      $(["#{image_url('zodiac/aquarius-sign.jpg')}", "#{image_url('zodiac/aries-sign.jpg')}",
        "#{image_url('zodiac/cancer-sign.jpg')}", "#{image_url('zodiac/capricorn-sign.jpg')}",
        "#{image_url('zodiac/gemini-sign.jpg')}", "#{image_url('zodiac/leo-sign.jpg')}",
        "#{image_url('zodiac/libra-sign.jpg')}", "#{image_url('zodiac/pisces-sign.jpg')}",
        "#{image_url('zodiac/sagittarius-sign.jpg')}", "#{image_url('zodiac/scorpio-sign.jpg')}",
        "#{image_url('zodiac/taurus-sign.jpg')}", "#{image_url('zodiac/virgo-sign.jpg')}"]).preload();
    .container
      .row
        .zodiac-width
          .row
            .col-md-12
              = yield
